section{
   
    display: flex;
  
}
.food-network{
    width: 50%;
    padding-top: 100px;
    margin-right: 30px;
}
.text{
    width: 100%;
    margin-top: 80px;
    margin-left: 80px;
}
.food-network img{
    transform: rotate(-30deg);
 margin-bottom: 85px;
 border-radius: 150px;
 
}
.bg-img{
    width: 100%;
    background-image: url(images/Group\ 8450.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:left;
    background-position-y: bottom;
   transform: rotate(25deg);
   margin-top: 100px;
}
